# Ignorar logs e arquivos temporários
logs/
*.log
*.tmp

# Ignorar dependências e módulos de front-end
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar diretórios de build e cache
dist/
build/
.cache/

# Ignorar arquivos sensíveis ou de configuração local
.env
.env.local
.DS_Store
Thumbs.db

# Ignorar arquivos gerados pelo sistema operacional ou IDEs
.vscode/
.idea/
*.swp
*.bak