# Ignorar logs e arquivos temporários
logs/
*.log
*.tmp

# Ignorar dependências do back-end (Node.js)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos sensíveis
.env
.env.local

# Ignorar diretórios de build e cache
dist/
.cache/

# Ignorar arquivos gerados pelo sistema operacional ou IDEs
.vscode/
.idea/
*.swp
*.bak

# Ignorar histórico de downloads
downloads/
downloadHistory.json
sessions.sqlite
*.sqlite